footer {
	$footer_height: 70px;
	height: $footer_height;
    width: 100%;
    background-color: $black;
	color: $white;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
    line-height: $footer_height;
}