header {
    $header_height: 500px;
    $header_width: 100%;
    $profile_pic_border:3px;
    $profile_pic_dimension: 150px;
    $navigation_bars_height: 50px;
    $name_div_height: 100px;
    $middle_vertical_margin: ($header_height - 2*$navigation_bars_height - $name_div_height - $profile_pic_dimension - 2*$profile_pic_border)/2;

    height: $header_height;
    width: 100%;
    display: inline-block;
    font-family: Roboto;
    font-weight: 300;
    //background-color: $darker_blue;

    #mountain {
        width:100%;
        height: $header_height;
        background: url(../files/mount_diablo.jpg) no-repeat center center fixed;
        @include background-size();
    }
    
    div.menu {
        //background-color: red;
        margin-left: 5px;
        margin-right: 5px;
        height: $navigation_bars_height;

        div.social_media {
            //background-color: green;
            display: inline-block;
            float: right;
        }
    }

    img.profile_pic {
        height: $profile_pic_dimension;
        width: $profile_pic_dimension;
        border-radius: 50%;
        border: $profile_pic_border solid $white;
        @include center(0px);
        //background-color: red;
        margin-top: $middle_vertical_margin;

    }

    div.text {
        color: $white;
        text-align: center;
        height: $name_div_height;
        //background-color: black;
        margin-bottom: $middle_vertical_margin;
        margin-top: 0px;

        #name {
            font-size: 50px;
        }
        #education {
            font-size: 15px;
            color: $lighter_gray;
        }

    }

    div.main_tabs {
        div {
            display: inline-block;
            text-align: center;
            width: $header_width/3;
            height: $navigation_bars_height;
            line-height: $navigation_bars_height;
            font-size: 20px;
            color: $black;
        }

        // #first_tab {
        //     background-color: $white;
        //     transition: background-color 0.5s ease;
        // }
        // #first_tab:hover {
        //     background-color: $white;
        // }

        // #second_tab {
        //     background-color: $darker_blue;
        //     transition: background-color 0.5s ease;
        //     color: $white;
        // }
        // #second_tab:hover {
        //     background-color: $mid_blue;
        // }

        // #third_tab {
        //     background-color: $darker_blue;
        //     transition: background-color 0.5s ease;
        //     color: $white;
        // }
        // #third_tab:hover {
        //     background-color: $mid_blue;
        // }
        
        .clicked {
            background-color: $white;
            transition: background-color 0.4s;
            color: $black;    
        }
        .not_clicked {
            background-color: $darker_blue;
            transition: background-color 0.4s;
            color: $white;
        }
        .not_clicked:hover {
            background-color: $mid_blue;
            cursor: pointer;
        }
    }
}